.main-container {
  width: 100vw;
  height: 100vh;
  overflow: hidden;

  display: flex;
  flex-direction: column;
  align-items: center;

  background: #40e0d0;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #40e0d0, #ff8c00, #ff0080);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #40e0d0, #ff8c00, #ff0080);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.actions {
  box-sizing: border-box;
  height: 20vmin;
  padding-top: 5vmin;
}

.actions__reset-button {
  background-color: red;
  color: white;
  height: 8vmin;
  font-size: 5vmin;
  font-weight: 900;

  padding: 1vmin 2vmin;
  border-radius: 1vmin;
  outline: none;
  border: 0;
  border-bottom: 0.3vmin solid rgb(186, 27, 27);

  box-shadow: 0 0 3vmin #d03636;
}

.actions__reset-button:active {
  border: none;
}