.main-container {
  width: 100vw;
  height: 100vh;
  overflow: hidden;

  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;

  background-color: lightskyblue;
}