.board__tile {
  box-sizing: border-box;
  width: calc((70vmin - 1vmin * 8) / 4);
  height: calc((70vmin - 1vmin * 8) / 4);
  margin: 1vmin;

  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;

  color: white;
  font-weight: 700;
  font-size: 6vmin;

  border-radius: 1vmin;
}

@keyframes changeTileAnimation {
  0% {
    transform: scale(1);
  }

  25% {
    box-shadow: 0 2px 0 0 #5fa5d9;
    transform: scale(1.05);
  }

  50% {
    box-shadow: none;
    transform: scale(1.1);
  }

  75% {
    box-shadow: 0 2px 0 0 #5fa5d9;
    transform: scale(1.05);
  }

  100% {
    transform: scale(1);
  }
}

.board__tile_animate {
  animation: changeTileAnimation .15s ease-out;
}