.done-game-popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(#000, 0.7);
}

.done-game-popup__inner {
  width: 50vmin;
  box-sizing: border-box;
  padding: 20px;
  background: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  border-radius: 2vmin;
}

.done-game-popup__inner_animation {
  animation: popup-appearance 0.3s ease-out;
}

.done-game-popup__button {
  background-color: red;
  color: white;
  height: 6vmin;
  font-size: 1.7vmin;
  font-weight: 900;

  padding: 1vmin 2vmin;
  border-radius: 1vmin;
  border-bottom: 2px solid rgb(143, 15, 15);
}

.actions__reset-button:focus {
  outline-color: red;
}

.done-game-popup__button:active {
  border-bottom: none;
}

@keyframes popup-appearance {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}